<app-users></app-users>
<div *ngIf="!isLoading && !serverError">
  <hr>
    <!-- Sekcja z suwakami -->
    <div class="tabs">
      <a [routerLink]="['/', username, 'friends']" 
        routerLinkActive="active-link" 
        class="tab"> Wpisy
      </a>
      <a 
        [routerLink]="['/', username, 'following']" 
        routerLinkActive="active-link"
        class="tab"> Obserwacje
      </a>
      <a 
        [routerLink]="['/', username, 'followers']" 
        routerLinkActive="active-link"
        class="tab"> Obserwujący
      </a>
      <a 
        [routerLink]="['/', username, 'friends_requests']" 
        routerLinkActive="active-link"
        class="tab" 
        *ngIf="username == loggedInUsername">Zaproszone konta
      </a>
      
    </div>
    <!-- Przedzielenie -->
    <hr>

    <!-- Lista znajomych -->
  <div *ngFor="let user of users" class="usersList">    
    <div class="usersList-header">    
        <!-- Lewa strona: Avatar i informacje o użytkowniku -->
        <div class="left-section">
            <span class="avatar">
                <img [src]="baseUrl + user.avatar_url" alt="Avatar użytkownika">
            </span>  
            <div class="user-info">
                <span class="username">{{user.display_name}}</span>
                <span class="nick">@{{user.username}}</span>
            </div>
        </div>

        <!-- Prawa strona: Przyciski -->
        <div class="right-section">
          <button 
            [ngClass]="{
                'friend-btn': user?.is_friend, 
                'not-friend-btn': !user?.is_friend && !user?.request_friendship_sent,
                'request-sent-btn': user?.request_friendship_sent
            }"
            (click)="user.is_friend? removeFriend(user) : toggleFriendship(user)">
            {{ user?.is_friend ? 'Znajomy' : (user?.request_friendship_sent ? 'Zaproszenie wysłane' : 'Dodaj do znajomych') }}
        </button>

      
          <button 
              [ngClass]="{
                  'following-btn': user?.follow, 
                  'not-following-btn': !user?.follow
              }"
              (click)="toggleFollow(user)">
              {{ user?.follow ? 'Obserwujesz' : 'Zaobserwuj' }}
          </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="contentComponent.tokenError" class="token-error">
  <p>Wystąpił problem z Twoim tokenem. Czy chcesz go odnowić?</p>
  <button (click)="renewToken()">Odnów token</button>
</div> -->
    <!-- Tooltip -->
        
      <!-- <div class="custom-popover" 
        *ngIf="activePopover===user.id && (!isUserDataLoading || userDataLoadError)" 
        (mouseenter)="enterPopover()" 
        (mouseleave)="leavePopover()">

        <div *ngIf="userInfoToShow$ | async as user">
          <div class="headerPopover">
            <img [src]="baseUrl + user.avatar_url" alt="Avatar użytkownika" class="avatar">
            <button 
              *ngIf="user.username !== loggedInUsername"
              [ngClass]="{'active': user.follow, 'inactive': !user.follow}"
              (click)="user.follow ? removeFollow(user) : addFollow(user)">
                {{ user.follow ? 'Przestań obserwować' : 'Zaobserwuj' }}
            </button>
            <button
              *ngIf="user.username !== loggedInUsername"
              [ngClass]="{'active': user.is_friend, 'inactive': !user.is_friend}"
              (click)="user.is_friend ? openModal(user) : addFriend(user)">
              {{ user.is_friend ? 'Usuń znajomego' : 'Dodaj znajomego' }}
            </button>
          </div>
          <div>
            <span class="popover-username"><strong>{{ user.username }}</strong></span>
            <span class="popover-nick">@{{ user.display_name }}</span>
          </div>
          <div>
            <span>Obserwujących: <strong>{{ (userInfoToShow$ | async)?.followers_count }}</strong></span>
            <span>Obserwowanych: <strong>{{ (userInfoToShow$ | async)?.follows_count }}</strong></span>
            <span>Przyjaciół: <strong>{{ (userInfoToShow$ | async)?.friends_count }}</strong></span>
          </div>
        </div>
        <div *ngIf="userDataLoadError">
          <p>Błąd wczytywania danych</p>
          <button (click)="showPopover(user.id, user.post_author)">Ponów próbę</button>
        </div>
      </div>      
    </div> -->
    
