
<div class="content">
  <div class="header">
    <button (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
    </button>
    <h2>Czat</h2>
  </div>
<div *ngIf="!selectedChat"> 
   <app-chat></app-chat>
</div>

<div *ngIf="selectedChat" class="chat-wrapper">
  <div class="chat-header">
    <img class="avatar" [src]="selectedUser.avatarUrl" alt="Chat Avatar">
    <div class="user-info">
        <span class="username">{{ selectedUser.name }} {{selectedUser.lastName}}</span>
        <span class="nick">@{{ selectedUser.username }}</span>
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v"></i>
    </div>
  </div>

  <div class="chat-content">
    <div class="messages-container"
      infiniteScroll
      [infiniteScrollDistance]="10"
      [infiniteScrollThrottle]="1000"
      (scrolledUp)="loadPreviousMessages()"
      [scrollWindow]="false">
      <div *ngFor="let message of selectedUser.messages" [ngClass]="{'you': message.sender === this.loggedInUsername, 'them': message.sender !== this.loggedInUsername}" class="message">
        <span>{{ message.text }}</span>
      </div>
    </div>
  </div>
  
  <div class="chat-footer">
    <button (click)="loadPreviousMessages()">  
      <i class="fa fa-arrow-up"></i>
    </button>
    <div class="button-position">
      <button class="img-button" (click)="addImage()">
        <i class="fa fa-image"></i>
      </button>
    </div>
    <div class="textarea-wrapper">
      <textarea [(ngModel)]="newMessage" 
        placeholder="Wpisz wiadomość..." 
        (keydown)="handleKeyDown($event)" >
      </textarea>
    </div>
    <div class="button-position">
      <button class="send-button" (click)="sendMessage()">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>