
.post {
  position: relative;
  padding: 16px;
  width: 550px;
  margin: 16px 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  position: relative; 

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.post-info .username,
.post-info .email,
.post-info .date {
  display: block;
}

.bio{
  padding: 20px 0px;
}

.post-header a{
  text-decoration: none; 
  color: inherit; 
}

.post-link {
    text-decoration: none; 
    color:inherit;
}

.date{
  position: relative;
  cursor: pointer;
  color:#7e7e7e
}

.date:hover,
.username:hover,
.popover-username:hover,
.stats:hover {
  text-decoration: underline;
}

.nick{
  color:#7e7e7e;
  margin: 0 15px 0 15px;
}

.post-content {
  margin-bottom: 16px;
  margin-left: 67px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.like-btn, .comment-btn, .share-btn {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}



.like-btn i, .comment-btn i, .share-btn i {
  color: #504f4f;
  padding: 10px 10px;
  border-radius: 50%;
}


.like-btn .count, .comment-btn .count, .share-btn .count {
  color: #504f4f; 
}

.like-btn:hover i, .like-btn:hover .count, 
.comment-btn:hover i, .comment-btn:hover .count,
.share-btn:hover i {
  color: #a10ddb; 
}


.comment-btn:hover i, .share-btn:hover i{
  background-color: rgba(170, 16, 221, 0.1);
}

.like-btn:hover i{
  background-color: rgba(249, 24, 128, 0.1);
}

.btn-container {
  display: inline-flex;
  align-items: center;
}

.like-btn:focus, .comment-btn:focus, .share-btn:focus {
  outline: none;
}

.like-btn.liked i, .like-btn .count.liked {
  color: rgba(161, 13, 219);
}


.post-content img{
  max-width:380px;

  object-fit:cover;
  border-radius:25px;
}


.preserve-whitespace {
  white-space: pre-line;
}

.tooltip {
  display: flex;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px 25px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -15px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  top: 125%;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.date:hover .tooltip {
  visibility: visible;
  opacity: 1;
  align-items: center;
}


@media (hover: hover) and (max-height: 650px) {  
  .date:hover .tooltip {
      bottom: unset;
      top: 125%;
  }

  .date:hover .tooltip::after {
      top: unset;
      bottom: 100%;
      border-color: transparent transparent black transparent;
  }
}

.loading-bar{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 10px;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); 
  border-radius: 50%; 
  border-top: 8px solid #a10ddb; 
  width: 50px; 
  height: 50px;
  animation: spin 1s linear infinite; 
  margin: 0 auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  display: inline-block;
  font-size: 20px;
}

.dot {
  animation: blink 1.4s infinite both;
  font-weight: normal;
  animation-fill-mode: both;
  opacity: 0;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.profile-info {
  position: absolute;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tags {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.tags > .tag-container > span {
  background: #E5A6FF;
  border-radius: 5px;
  border: 1px #840AB6 solid;
  color: #840AB6;
  padding: 4px;
  cursor: pointer;
}

.custom-popover {
  position: absolute;
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
  background-color: #f7f7f7;
  top: 65px;
  z-index: 1000;
  min-width: 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.custom-popover span {
  display: block;
  margin-bottom: 5px;
}

.post:hover .custom-popover {
  opacity: 1;
  transform: translateY(-10px);
}

.headerPopover {
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 10px; 
  justify-content: space-between;
}

.headerPopover .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
}

.headerPopover > .inactive {
  width: auto;
  background: #E5A6FF;
  border-radius: 50px;
  border: 1px #840AB6 solid;
  color: #840AB6;
  cursor: pointer;
  height: 33%;
}

.headerPopover > .active {
  width: auto;
  background: #FFD1D1;
  border-radius: 50px;
  border: 1px #C10D0D solid;
  color: #C10D0D;
  cursor: pointer;
  height: 33%;
}

.headerPopover   > .inactive:hover {
  background-color: #840AB6;
  border-color: #E5A6FF;
  color:#E5A6FF;
}

.headerPopover   > .active:hover {
  background-color: #C10D0D;
  color:#FFD1D1;
  border-color: #FFD1D1;
}
.custom-popover .popover-nick{
  color:#7e7e7e
}
.text-gray {
  color: gray;
}

.text-bold {
  font-weight: bold;
}

.token-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-post-btn {
  position: fixed;
  bottom: 1vh;
  right: 5vw;  
  background-color: #b621f3;
  color: white;  
  border-radius: 50%;  
  width: 60px;  
  height: 60px;  
  border: none;  
  font-size: 24px;  
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 100;
}

.add-post-btn:hover {
  background-color: #6a1a8a;
}

.menu-icon-container {
  position: absolute;
  right: 10px; 
}

.context-menu {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px;
  min-width: 200px;
  z-index: 100;
}

.menu-icon-container > button {
  border: none;
  background-color: inherit;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.menu-icon-container > button:hover{
  background-color: rgba(170, 16, 221, 0.1);
}

.menu-icon-container > button:hover i{
  color: #a10ddb;
}


.context-menu button {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  background-color: inherit;
}

.context-menu button:hover {
  background-color: #a1a1a1;
}

.deletePost {
  color: #e74c3c ;
}

.deletePost:hover {
  background-color: #c0392b !important;
  color: white; 
}

.image-upload-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgba(170, 16, 221, 0.1);
  cursor: pointer;
}

.image-upload-label i {
  color: rgba(170, 16, 221, 0.7);  
  font-size: 20px;
}

.image-upload-label:hover {
  background-color: rgba(170, 16, 221, 0.2);  
}

.image-upload-label:hover i {
  color: rgba(170, 16, 221, 0.9);  
}

.btn-primary:hover {
  background: rgba(170, 16, 221, 0.2);
  border: 1px rgba(170, 16, 221, 0.7) solid;
  color: rgba(170, 16, 221, 0.9);
}