<div class="home-page">
  <div class="left-side">
    <div class="left-side-content">
      <h1>Media społecznościowe <span style="display: block;">z czatem tekstowym</span></h1>
        <p> No jakiś cringowy tekst </p>
      <button (click)="registerToggle()" *ngIf="!registerMode" [ngClass]="{ 'hidden': !isVisible }">Zarejestruj się!</button>
      <button (click)="registerToggle()" *ngIf="registerMode" [ngClass]="{ 'hidden': !isVisible }">Zaloguj się!</button>
    </div>
  </div>
  <div *ngIf="!registerMode" class="right-side" id="login">
    <app-login></app-login>
      <span *ngIf="!registerMode">Nie masz jeszcze konta? <button class="switchFormButton" (click)="registerToggle()">Zarejestruj się!</button></span>
      <span *ngIf="registerMode">Masz już konto? <button class="switchFormButton" (click)="registerToggle()" >Zaloguj się!</button></span>
  </div>
  <div *ngIf="registerMode" class="right-side" id="login">
    <app-register></app-register>
    <span *ngIf="registerMode">Nie masz jeszcze konta? <button class="switchFormButton" (click)="registerToggle()">Zarejestruj się!</button></span>
      <span *ngIf="!registerMode">Masz już konto? <button class="switchFormButton" (click)="registerToggle()" >Zaloguj się!</button></span>
  </div>
</div>
