<div class="home-page">
  <div class="left-side">
    <div class="left-side-content">
      <h1>Media społecznościowe <span style="display: block;">z czatem tekstowym</span></h1>
        <p> No jakiś cringowy tekst </p>
      <button (click)="onRegisterClick()" *ngIf="isLoginState()" [ngClass]="{ 'hidden': !isVisible }">Zarejestruj się!</button>
      <button (click)="onLoginClick()" *ngIf="isRegisterState()" [ngClass]="{ 'hidden': !isVisible }">Zaloguj się!</button>
    </div>
  </div>
  <div #login class="right-side" id="login">
    <app-login></app-login>
      <span *ngIf="isLoginState()">Nie masz jeszcze konta? <button class="switchFormButton" (click)="onRegisterClick()">Zarejestruj się!</button></span>
      <span *ngIf="isRegisterState()">Masz już konto? <button class="switchFormButton" (click)="onLoginClick()" >Zaloguj się!</button></span>
     <!-- <app-register></app-register> -->
  </div>
</div>
