.styled-input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.styled-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.styled-input:focus {
    outline: none;
    border-color: #a10ddb;
}

.styled-input:not(:placeholder-shown) + .styled-label,
.styled-input:focus + .styled-label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #a10ddb;
}

.styled-label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.styled-input:focus ~ .styled-label {
    color: #a10ddb;
}

.btn-primary {
    background: #FFD1D1;
    border: 1px #C10D0D solid;
    color: #C10D0D;
    min-width: 120px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #C10D0D;
    color: #FFD1D1;
}

.btn-secondary {
    background: #666;
    border: 1px #aaa solid;
    color: #f0f0f0;
    min-width: 70px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background-color: #aaa;
    color: #f0f0f0;
}

h3 {
    font-weight: bold;
}
