<div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Podaj Hasło</h3>
    </div>
    <div class="modal-body">
        <div class="styled-input-container">
            <div class="modal-body">
                <div class="styled-input-container">
                  <input type="password" id="password" class="styled-input" [(ngModel)]="password" placeholder=" " required>
                  <label for="password" class="styled-label">Wprowadź hasło</label>
                </div>
                <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            </div>
        </div>
      <div *ngIf="incorrectPassword" class="alert alert-danger">Nieprawidłowe hasło. Spróbuj ponownie.</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Anuluj</button>
        <button type="button" class="btn btn-primary" (click)="checkPassword()">Dalej</button>
    </div>
  </div>
  