.password-change-container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-input-container {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.styled-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.styled-input:focus {
    outline: none;
    border-color: #a10ddb;
}

.styled-input:not(:placeholder-shown) + .styled-label,
.styled-input:focus + .styled-label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #a10ddb;
}

.styled-label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.styled-input:focus ~ .styled-label {
    color: #a10ddb;
}

.btn-primary {
    background: #FFD1D1;
    border: 1px #C10D0D solid;
    color: #C10D0D;
    min-width: 120px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #C10D0D;
    color: #FFD1D1;
}

.header {
    position: sticky;
    top: 60px;
    background-color: #f7f7f7;  
    z-index: 100; 
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .header h2 {
    text-align: left;
    margin: 0; 
  }
  
  .header button {
    color:black;
    background-color: transparent; 
    border: none;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: none; 
    border-radius: 50%;
  }
  
  .header button:hover {
    background-color: #a10ddb;
  }
  
  .header button i.fa-arrow-left {
    font-size: 16px;
    margin-right: 5px;
  }

  .content{
    width:600px;
  }


.password-toggle-button {
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    z-index: 3;
}

.eye-toggle-btn:hover {
    background-color: #b621f3;
}

.eye-toggle-btn:active {
    background-color: #6a1a8a;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.alert {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.disabled-btn {
    position: relative; 
    cursor: not-allowed;
}

.disabled-btn:hover::before {
    content: '\f05e'; 
    font-family: FontAwesome; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: red; 
}
