<div class="content">
    <div class="header">
        <button (click)="goBack()">
            <i class="fa fa-arrow-left"></i>
        </button>
        <h2>Czat</h2>
    </div>
    <div class="password-change-container">
        <h3>Zmień hasło</h3>
        
        <form [formGroup]="form">

        <div class="styled-input-container">
            <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword" class="styled-input" placeholder=" " required>
            <label for="currentPassword" class="styled-label">Podaj obecne hasło</label>
            <button class="password-toggle-button eye-toggle-btn" (click)="toggleCurrentPassword()">
                <i class="fa fa-eye"></i>
            </button>
        </div>
        
        <div class="styled-input-container">
            <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" class="styled-input" placeholder=" " required>
            <label for="newPassword" class="styled-label">Podaj nowe hasło</label>
            <button class="password-toggle-button eye-toggle-btn" (click)="toggleNewPassword()">
                <i class="fa fa-eye"></i>
            </button>
            <div *ngIf="form.get('newPassword')?.errors && form.get('newPassword')?.touched" class="error-message">
                <span *ngIf="form.get('newPassword')?.errors?.['passwordErrors']">{{ form.get('newPassword')?.errors?.['passwordErrors'] }}</span>
            </div>
        </div>

        <div class="styled-input-container">
            <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmNewPassword" class="styled-input" placeholder=" " required>
            <label for="confirmNewPassword" class="styled-label">Powtórz nowe hasło</label>
            <button class="password-toggle-button eye-toggle-btn" (click)="toggleConfirmPassword()">
                <i class="fa fa-eye"></i>
            </button>
            <div *ngIf="form.errors?.['mismatch'] && form.get('confirmNewPassword')?.touched" class="error-message">
                <span>Hasła nie są takie same</span>
            </div>
        </div>


        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>

        <button class="btn btn-primary" [disabled]="form.invalid" (click)="changePassword()">Potwierdź</button>

    </form>

    </div>
</div>
