* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a10ddb;
  padding: 30px;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid black;
}

.logo{
  width:160px;
}

.header-left, .header-right{
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-left ul li img{
  width: 28px;
  margin: 0 15px;
}

.header-user-icon {
  margin-left: 0px;
  background-color: white;
  min-width: 180px;
  height: 40px;
  border-radius: 4vw;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.header-user-icon:hover{
  background-color: #E5A6FF;
;
}

.header-user-icon img{
  width: 40px;
  height: 40px;
  border-radius: 2vh;
}

.search-bar{
  background: white;
  width: 350px;
  border-radius: 20px;
  display:flex;
  align-items: center;
  padding: 0 15px;
}

.search-bar img{
  width: 18px
}

.search-bar input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  max-width: 1536px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

nav{
  height: 100vh;
  top: 110px;
  background-color: #a10ddb;
  flex-basis: 5%;
  align-self: flex-start;
  position: sticky;
}

nav > ul li img{
  width: 35px;
}

.container nav ul {
  display: flex;
  background-color: #a10ddb;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.container nav ul li{
  cursor: pointer;
}

.container nav ul li:hover {
  background-color: #efefef;
  border-radius: 25px;
}

.chat{
  align-self: flex-start;
  flex-basis: 20%;
  background-color: #D49CEA;
  height: 100vh;
  border-left: 1px solid;
  top: 110px;
  position: sticky;
}

.chat .first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: black solid 1px;
  padding-bottom: 25px;
  z-index: 1;
}

.chat .second-section {
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  padding-top: 20px;
  max-height: calc(100vh - 295px);
  display: flex;
}

.chat-search-bar{
  margin-top: 50px;
  background: white;
  width: 150px;
  border-radius: 3vh;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.chat > .first-section img{
  width: 18px;
}

.chat-search-bar input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.new-message{
  margin-top: 25px;
  background: #E5A6FF;
  width: 180px;
  border-radius: 3vh;
  border: 1px #840AB6 solid;
  color: #840AB6;
  padding: 8px;
  cursor: pointer;
}

.new-message:hover{
  background-color: #840AB6;
  color: #E5A6FF;
}

.chat >.second-section::-webkit-scrollbar{
  display: none;
}

.chat > .second-section img{
  width: 30px;
}

.message-contact{
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.message-contact:hover{
  background-color: #ac4ad6;
  border-radius: 10px;
}

.container nav ul li{
  list-style: none;
  padding: 10px;
}

/* To jest do wywalenia */
.main-content {
  flex-basis: 50%;
  display: flex; /* Dodane, aby uczynić .main-content kontenerem flex */
  flex-direction: column; /* Dzieci będą układane w kolumnie */
}

.posts {
  background-color: #efefef;
  border-left: 1px solid black;
  padding: 10px;
  flex-grow: 1; /* Pozwala .posts rosnąć, aby wypełnić dostępną przestrzeń */
}

.content-right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Rozkłada dzieci (trends i footer) wzdłuż głównej osi */
  min-height: 95vh; /* Wysokość na 100% okna przeglądarki */
  border-bottom: none; /* Usunięcie dolnej krawędzi, ponieważ footer będzie miał swoją górną krawędź */
}

.right-sidebar{
  display: flex;
  flex-basis: 25%;
  height: 100vh;
  position: sticky;
  top: 110px;
  /* border-bottom: 1px solid black; */
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex-direction: column;
  align-items: center;
}

.add-post-btn {
  background-color: #b621f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-post-btn:hover {
  background-color: #6a1a8a;
}

.trends {
  display: flex;
  background-color: #efefef;
  height: 430px;
  flex-direction: column;
  width: 280px;
  margin: 25px 25px 0 25px;
  position: sticky;
  border-radius: 25px;
  z-index: 1;
  border: 1px solid black;
}

.first-section {
  flex: 2;  /* 20% przestrzeni */
}

.second-section {
  flex: 8;  /* 80% przestrzeni */
}

.trends >.first-section p {
  color:black;
  text-align: center;
}


.trends >.second-section::-webkit-scrollbar{
  display: none;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

footer img{
  width:98px
}

footer a{
  cursor: pointer;
}
/* Scrollbar */

.chat > .second-section::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania dla przeglądarek opartych na WebKit */
  display: none; /* Ukryj pasek przewijania domyślnie */
}

.chat > .second-section:hover::-webkit-scrollbar {
  display: block; /* Pokaż pasek przewijania, gdy najedziesz myszką */
}

.chat > .second-section::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor suwaka paska przewijania */
}

.chat > .second-section::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Kolor suwaka paska przewijania po najechaniu */
}
