
<div *ngIf="!authService.loggedIn()">
  <app-authenticator></app-authenticator>
</div>
<div *ngIf="authService.loggedIn()" class="home-page">
    <nav>
        <div class="nav-left">
            <a [routerLink]="['/home']" (click)="onHomeIconClick()">
                <h1>Media społecznościowe z czatem tekstowym</h1>
            </a>
        </div>
        <div class="nav-mid">
            <ul>
                <li routerLinkActive="active-link">
                    <a [routerLink]="['/home']" (click)="onHomeIconClick()"><img src="/assets/home.png"></a>
                </li>
                <li routerLinkActive="active-link">
                    <a [routerLink]="['/chat']"><img src="/assets/chat.png"></a>
                </li>
                <li class="button-menu">
                    <button class="add-post-btn" (click)="openCreatePostModal()">
                        <i class="fa fa-plus"></i>                
                      </button>                
                </li>
                <li routerLinkActive="active-link">
                    <a [routerLink]="['/', authService.decodedToken?.username]"><img src="/assets/profile.png"></a>
                </li>
               
                <li routerLinkActive="active-link">
                    <a [routerLink]="['/notifications']"><img src="/assets/notifications-before.png"></a>
                </li>
            </ul>
        </div>      

        <div class="nav-right">
            <div class="search-box" *ngIf="window.innerWidth > 1396">
                <img src="/assets/search.png">
                <input type="text" placeholder="Wyszukaj" [(ngModel)]="searchQuery" (keyup.enter)="redirectToSearch()">
            </div>
             <button class="search-button" *ngIf="window.innerWidth <= 1396" (click)="redirectToSearch()">
            <img src="/assets/search-solid.png">
    </button>
            <div class="nav-user-icon" (click)="toggleDropdown($event)">
                <div class="user-info" *ngIf="currentUserData$">
                    <img [src]="baseUrl + currentUserData?.avatar" alt="account picture" class="avatarButton">
                </div>
                <div class="dropdown-content" *ngIf="showDropdown">
                    <div class="profile-summary">
                        <a [routerLink]="['/', currentUserData?.username]">
                            <img [src]="baseUrl + currentUserData?.avatar" alt="account picture" class="profile-avatar">
                            <span> <strong> {{ currentUserData?.username }} </strong> </span> 
                        </a>
                    </div>
                    <div class="dropdown-option">
                        <a [routerLink]="['/account']">
                            <img src="/assets/settings.png" class="menu-icon"> Ustawienia konta
                        </a>
                        <a (click)="logout()">
                            <img src="/assets/logout.png" class="menu-icon"> Wyloguj się
                        </a>
                    </div>
                    <div class="dropdown-footer">
                        <a href="https://github.com/Naffik/SocialApp/"><img src="/assets/git.png"/></a>
                    </div>
                </div>
            </div>            
        </div>
    </nav>

    <div class="container">
        <div class="chat">
            <app-chat></app-chat>
        </div>
        <div class="main-content">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="right-sidebar">
            <app-trends></app-trends>
        </div>
    </div>
</div>
