* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a10ddb;
  padding: 0 1%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-mid ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.nav-mid ul li{
  width: 100px;
  height: 100%;
  list-style: none;
  position: relative; 
}

.nav-mid ul li a {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100%;
  width: 100%;
}

.nav-mid ul li a:hover {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
}

.nav-mid ul li img{
  transition: filter 0.3s; 
  margin: 0 15px;
  width: 32px;
  max-height: 80%; 
}

.nav-mid ul li:hover img {
  filter: grayscale(0); 
}

.nav-mid{
  height: 100%;
}

.active-link {
  border-bottom: 5px solid rgb(250, 0, 187); 
}

.nav-left a{
  text-decoration: none;
}

.nav-left, .nav-right{
  display: flex;
  align-items: center;
}

.nav-left h1{
  color:white;
  font-size:  20px;
}

.nav-user-icon {
  margin-left: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nav-user-icon img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content .menu-icon{
  width: 30px;
  height: 30px;
  border-radius: 0;
  margin-right: 10px; 
}

.avatarButton:hover{
  border: #b349dd 1px solid;
}

.nav-mid ul li.button-menu {
  display: flex;
  align-items: center;  
  justify-content: center; 
}

.add-post-btn {
  background-color: #a10ddb; 
  border-radius: 50%;
  border: 3px solid black;
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: background-color 0.3s, transform 0.3s; 
}

.add-post-btn:hover {
  background-color: #6a1a8a; 
  transform: scale(1.1); 
}

.add-post-btn i.fa {
  font-size: 28px;
  color: white;

}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 250px;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content .menu-icon{
  width: 30px;
  border-radius: 0;
  margin-right: 10px; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a1a1a1;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-summary, .dropdown-option{
  padding: 10px;  
  border-bottom: 1px solid #e0e0e0;  
}

.profile-summary a, .dropdown-option a{
  border-radius: 5px;
}


.dropdown-footer {
  border-top: 1px solid #e0e0e0;  
  text-align: center;  
}

.dropdown-footer a:hover {
  background-color: transparent;  
  color: inherit;  
}

.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #ccc; 
}


.logo{
  width:160px;
}

.search-box{
  background: #efefef;
  width:350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-box img{
  width:18px;
}

.search-box input{
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}


.container{
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  max-width: 1536px;
  margin: 0 auto;
  position: relative;
}

.chat{
  flex-basis: 22%;
  font-family: Arial, sans-serif; 
  max-width: 700px; 
  padding: 20px; 
  background-color: #f7f7f7; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  top: 60px;
  align-self: flex-start;
  position: sticky;
  height: calc(100vh - 60px);
}

.main-content {
  flex-basis: 50%;
  display: flex; 
  flex-direction: column; 
}

.content{
  font-family: Arial, sans-serif; 
  width: 700px; 
  min-height: 100%;
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f7f7f7; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.right-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  flex-basis: 22%;
  position: sticky;
  top: 60px; 
  min-height: calc(100vh - 60px); 
  padding: 20px; 
  background-color: #f7f7f7; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

footer img{
  width:98px
}

footer a{
  cursor: pointer;
}

@media (max-width: 330px){
  .nav-left h1 {
      display: none;
  }

  .search-box {
      width: 50%;
  }

  .nav-mid ul li:not(.button-menu) {
      display: none;
  }

  .chat, .right-sidebar {
      display: none;
  }
}


.search-button img{
  width: 32px;
  max-height: 80%;
}


@media (max-width: 1396px) {

  .container{
    display: flex;
    justify-content: flex-start;
    background-color: #efefef;
    margin: 0 auto;
    position: relative;
  }

  .search-box {
    display: none;
}

  .search-button {
      display: inline-block;
  }

  .right-sidebar {
    display: none;
}

.chat {
    flex-basis: 25%;
    margin-right: 2%;
}

.main-content {
    flex-basis: 63%;
}

.content {
    width: 650px;
}

  .nav-left h1 {
      display: none;
  }
}
@media (max-width: 1024px) {

.chat, .right-sidebar {
  display: none;
}

.container{
  display: flex;
  justify-content: center;
  background-color: #efefef;
  margin: 0 auto;
  position: relative;
}
}