.usersList {
    padding: 15px; /* Odstęp wewnątrz każdego elementu listy */
    cursor: pointer;
}

.usersList:hover{
    border-radius: 5px;
    background-color: #ddd;
}

.usersList-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 50px; /* Dostosuj do potrzeb */
    height: 50px; /* Dostosuj do potrzeb */
    border-radius: 50%; /* Okrągły kształt avatara */
    margin-right: 10px; /* Odstęp między avatarem a informacjami o użytkowniku */
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-section {
    display: flex;
    gap: 10px; /* Odstęp między przyciskami */
}

.following-btn, .friend-btn, .not-friend-btn, .not-following-btn, .request-sent-btn{
    padding: 5px 10px; /* Dostosuj do potrzeb */
    border: none;
    border-radius: 5px; /* Zaokrąglone rogi przycisków */
    cursor: pointer;
    width: 140px;
}

.following-btn, .friend-btn {
    color: #C10D0D;
    border: 1px #C10D0D solid;
    background: #FFD1D1;
}

.following-btn:hover, .friend-btn:hover {
    background-color: #C10D0D;
    color: #FFD1D1;
    border-color: #FFD1D1;
}

.not-following-btn, .not-friend-btn {
    background: #E5A6FF;
    border: 1px #840AB6 solid;
    color: #840AB6;
}

.not-following-btn:hover, .not-friend-btn:hover {
    background: #840AB6;
    border: 1px #E5A6FF solid;
    color: white;;

}

.request-sent-btn {
    background-color: #f5c6cb;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.avatar-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Wycentrowanie elementów w pionie */
    width: 100%;
    margin-bottom: 20px;
}

.avatar-and-button .avatar img {
    width: 120px; /* Możesz dostosować rozmiar avatara według własnych potrzeb */
    height: 120px;
    border-radius: 50%;
}

.edit-profile-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #a10ddb;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center; 
}

.edit-profile-btn:hover {
    background-color: #6a1a8a;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.stats {
    color: #555;
    display: flex;
    gap: 15px;
}

.stats strong{
    color: black;
}

.stats a{
    color: black;
    text-decoration: none;
}

.stats a:hover {
    color: #888; /* Przykładowy kolor. Dostosuj według potrzeb. */
    text-decoration: underline; /* Podkreślenie tekstu po najechaniu */
}

.display-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.username{
    font-size: 16px;
    font-weight: bold;

}

.notexist{
    margin-top: 70px;
    padding-left: 10%;
}

.notexist-message, .search-suggestion {
    text-align: left; 
}

.notexist-message {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-suggestion {
    font-size:16px;
    display: block;
    color: gray;
}

.nick{
    color: #555;
}

.avatar-and-details {
    display: flex;
    align-items: center; /* Wycentrowanie elementów w pionie */
    justify-content: space-between; /* Rozłożenie elementów na całej dostępnej przestrzeni */
    margin-bottom: 20px;
}

.avatar-and-name {
    display: flex;
    align-items: center; /* Wycentrowanie elementów w pionie */
}

.avatar-and-details .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 15px; /* Odstęp po prawej stronie avatara */
}

.full-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.profile-description {
    margin-top: 10px;
}

.stats {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.edit-profile-btn {
    padding: 10px 15px;
    background-color: #a10ddb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-profile-btn:hover {
    background-color: #6a1a8a;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center; /* Wyśrodkowanie poziome */
}

.tab {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab:hover{
    background-color: #b54cdf;
    color: white;
}

.tab:active{
    background-color: #3a0450;
    color: white;
}

.tab, .tab:hover{
    color: black;
    text-decoration: none;
}

.active-link, .active-link:hover {
    background-color: #a10ddb; 
    color: white;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3); /* Jasny kolor tła dla obręczy spinnera */
    border-radius: 50%; /* Nadanie kształtu koła */
    border-top: 8px solid #a10ddb; /* Ciemny kolor dla górnego segmentu spinnera */
    width: 50px; /* Szerokość spinnera */
    height: 50px; /* Wysokość spinnera */
    animation: spin 1s linear infinite; /* Animacja obracania się spinnera */
    margin: 0 auto; /* Wyśrodkowanie spinnera w poziomie (jeżeli rodzic ma wyśrodkowanie tekstu lub flex) */
  }
  
  /* Animacja obrotu */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-text {
    display: inline-block;
    font-size: 20px;
  }
  
  .dot {
    animation: blink 1.4s infinite both;
    font-weight: normal;
    animation-fill-mode: both;
    opacity: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.token-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-placeholder {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;        
}

.default-avatar {
    width: 50px; /* Dostosuj do swoich potrzeb */
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

    